<h1>Test Form</h1>
<%= form_for :test_form, url:test_form_create_path do |f| %>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title, placeholder: "Enter your title..." %>
	</div>
	<div>
		<%= f.label :text %><br>
		<%= f.text_area :text, placeholder: "Enter your text here", cols: '30', rows:'10' %>
	</div>
	<div>
		<%= f.submit "Save" %>
	</div>
<% end %>